/*Sign In Styles*/
html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
  }
  
  .signin-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .signin-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }

  .offscreen {
    opacity: 0;
  }
  
  .system {
    opacity: 1;
    color: red;
  }
  
  .class-box h5 {
    
    padding-top: 5rem;
    padding-bottom:-2rem;
    color: #fff;
    text-align: center;
    left: -12px;
  }
  
  .signin-box .user-box {
    position: relative;
    left: -12px;
    color: #fff;
  }
  
  .signin-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .signin-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .signin-box .user-box input:focus ~ label,
  .signin-box .user-box input:valid ~ label {
    top: -32px;
    left: 0px;
    color: var(--primary-color);
    font-size: 12px;
  }



/* Big Computer Screens  */
@media screen and (max-width: 970px){
    .signin-box {
    width: 400px;
    transition: 0.5s;
  }
}

@media screen and (max-width: 760px){
    .signin-box {
    top: 25rem;
    transition: 0.5s;
    width: 350px;
  }
}

@media screen and (max-width: 500px){
    .signin-box {
    position: absolute;
    transition: 0.5s;
    width: 300px;
  }
}


